@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/jf_font.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/fixes.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/base.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/accentlist.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/rounding.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/smallercast.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/header/header_transparent-dashboard.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/login/login_frame.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/fields/fields_noborder.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/cornerindicator/indicator_corner.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/type/colorful.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/titlepage/title_simple-logo.css');
/* @import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/progress/floating.css'); */
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/effects/hoverglow.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/effects/glassy.css');
@import url('https://cdn.jsdelivr.net/gh/stpnwf/FrostedGlass/episodelist/episodes_list.css');
@import url('https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/round.css');
/* @import url('https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/Font%20Awesome/solid.css'); */


:root {--accent: 187, 241, 221;}
:root {--rounding: 12px;}

/*Style backdrop*/
.backdropImage {
  filter: blur(18px) saturate(120%) contrast(120%) brightness(40%);
}

:root {--accent: 187, 241, 221;}

:root {--Zblack: 27, 36, 33;}
:root {--Zblack-dark: 21, 28, 25;}
:root {--jade-green: 0, 172, 111;}
:root {--honey-yellow: 255, 194, 85;}
:root {--cherry-red: 212, 51, 83;}


:root {--rounding: 12px;}

/*Style backdrop*/
.backdropImage {
  filter: blur(18px) saturate(120%) contrast(120%) brightness(40%) !important;
}

.starIcon {
    color: rgba(var(--honey-yellow), 0.8);
}

.ratingbutton-icon-withrating {
  color: rgba(var(--cherry-red), 1) !important;
}

.countIndicator, .playedIndicator {
  background: rgba(var(--accent), 0.8) !important;
  color: rgba(var(--Zblack-dark), 1) !important;
}

.raised, .fab, a[data-role="button"] {
  background: rgba(var(--accent), 0.8) !important;
  color: rgba(var(--Zblack-dark), 1) !important;
}

.raised:hover, .fab:hover, a[data-role="button"]:hover {
  background: rgba(var(--accent), 0.9) !important;
}

.headerTop {
  background: transparent !important;
}

.skinHeader {
  background-color: transparent !important;
}

.playstatebutton-icon-played {
  color: rgba(var(--jade-green), 1) !important;
}

.navMenuOption-selected, .selectionCommandsPanel {
  color: rgba(var(--Zblack-dark), 1) !important;
  background-color: rgba(var(--accent), 0.9) !important;
}

.navMenuOption:hover,
.actionSheetMenuItem:hover {
  color: rgba(var(--Zblack-dark), 1) !important;
}

#dashboardPage .cardContent, #dashboardPage .sessionNowPlayingInnerContent {
  color: rgba(var(--Zblack-dark), 1) !important;
}
