
/*New progress bar*/
#indexPage .innerCardFooterClear,
#itemDetailPage .innerCardFooterClear {
    background-color: transparent !important;
    box-shadow: none;
}
#indexPage .itemProgressBarForeground,
#itemDetailPage .itemProgressBarForeground,
#indexPage .itemProgressBar,
#itemDetailPage .itemProgressBar {
    border-radius: var(--rounding);
}
#indexPage .itemProgressBarForeground,
#itemDetailPage .itemProgressBarForeground  {
    background-color: rgba(var(--accent), 0.9) !important;
}
#indexPage .itemProgressBar,
#itemDetailPage .itemProgressBar {
    height: 8px;
    background: rgba(128,128,128,0.4);
    margin: 0.95em 0.95em;
}
/*Accommodate play button on mobile*/
@media all and (max-width: 80em){
  #indexPage .itemProgressBar,
  #itemDetailPage .itemProgressBar {
    margin-right: 3.2em;
  }
}
@supports (backdrop-filter: blur(15px)) {
  #indexPage .itemProgressBar,
  #itemDetailPage .itemProgressBar{
    backdrop-filter: blur(4px);
    background: rgba(128, 128, 128, 0.55) !important;
  }
}
